@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    background: rgb(175,103,233);
    background: linear-gradient(90deg, rgba(175,103,233,1) 0%, rgba(101,101,231,1) 35%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

h1{
    color: hsl(238, 29%, 16%); 
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 1em;
}

.container{
    display: flex;
    position: absolute;
    background: white;
    top: 25%;
    left: 20%;
    padding: 3em;
    border-radius: 25px;
    z-index: 5;
}

.content{
    margin-right: 3em;
}

.accordion{
    width: 100%;
    background-color: white;
    cursor: pointer;
    padding: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border: none;
    text-align: left;
    color: hsl(238, 29%, 16%);
}

.accordionpart{
    width: 350px;
    margin-bottom: 2em;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.accordion:after {
    content: url("./images/icon-arrow-down.svg");
    float: right;
    margin-left: 5px;
}

.accordion.active:after{
    transform: scaleY(-1);
}

.accordion:hover{
    color: hsl(14, 88%, 65%);
}

.active{
    text-shadow:0px 0px 1px black;
    border-bottom: none;
}

.panel{
    line-height: 1.5;
    padding: 0 10px;
    color: hsl(240, 6%, 50%);
}

.imagecontainer{
    margin-right: 3em;
}

@media (max-width: 900px){
    .container{
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        padding: 1em;
        width: 90%;
        margin: auto;
    }
    h1{
        text-align: center;
    }
    .accordionpart{
        width: 100%;
    }
    .accordion:hover{
        color: black;
    }
    .content{
        margin-right: 0;
    }
    .imagecontainer{
        align-self: center;
    }
}